.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 80px;
  display: flex;
  align-items: center;
  &__sub {
    display: flex;
    justify-content: center;
  }
  &__nav {
    backdrop-filter: blur(1px);
    // background-color: transparent;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }
  &__logo-container {
    margin: 10px 20px 0 20px;
  }
  &__logo {
    width: 70px;
    height: auto;
    filter: drop-shadow(2px 4px 6px black);
    &-link {
      text-decoration: none;
      color: black;
      &:hover {
        cursor: pointer;
        color: red;
      }
    }
  }
  &__list {
    display: flex;
    list-style-type: none;
    // &-hide {
    //   display: none;
    // }
    &-item {
      filter: drop-shadow(2px 4px 6px black);
      margin: 0 20px;
      font-size: 21px;

      &-link {
        text-decoration: none;
        color: white;
        &:hover {
          cursor: pointer;
          color: red;
        }
      }
    }
  }
  &__menu-container {
    display: flex;
    align-items: center;
    margin: 0 20px;
  }
}
