@font-face {
  font-family: "RalewayT";
  src: url("../../assets/fonts/Raleway-Thin.ttf") format("TrueType");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "RalewayTI";
  src: url("../../assets/fonts/Raleway-ThinItalic.ttf") format("TrueType");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "RalewayR";
  src: url("../../assets/fonts/Raleway-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RalewayRI";
  src: url("../../assets/fonts/Raleway-Italic.ttf") format("TrueType");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "RalewaySB";
  src: url("../../assets/fonts/Raleway-SemiBold.ttf") format("TrueType");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "RalewaySBI";
  src: url("../../assets/fonts/Raleway-SemiBoldItalic.ttf") format("TrueType");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "RalewayBlack";
  src: url("../../assets/fonts/Raleway-Black.ttf") format("TrueType");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "RalewayBlackI";
  src: url("../../assets/fonts/Raleway-BlackItalic.ttf") format("TrueType");
  font-weight: 900;
  font-style: italic;
}
